Django~=5.2.5
djangorestframework~=3.16.1
djangorestframework-simplejwt~=5.5.1
django-filter~=25.1
six~=1.17.0
drf-yasg~=1.21.10
requests~=2.32.5
si~=0.1.1.post1
pillow~=11.3.0
pytz~=2025.2
PyYAML~=6.0.2
asgiref~=3.9.1
sqlparse~=0.5.3
psycopg2-binary~=2.9.10
colorama~=0.4.6
Jinja2~=3.1.6
certifi~=2025.8.3
typing_extensions~=4.14.0
urllib3~=2.5.0
packaging~=25.0
inflection~=0.5.1
uritemplate~=4.2.0
idna~=3.10
charset-normalizer~=3.4.3
django-cors-headers~=4.7.0
Pygments~=2.19.2
PyJWT~=2.10.1
dotenv~=0.9.9
python-dotenv~=1.1.0
click~=8.1.8
django-allauth~=65.11.1
oauthlib~=3.3.1
blinker~=1.9.0
cryptography~=45.0.7
cffi~=1.17.1
pytest~=8.4.1
pycountry~=24.6.1
pycparser~=2.22
dj-rest-auth~=7.0.1
pyOpenSSL~=25.3.0
paypalrestsdk~=1.13.3
gunicorn
